test/cicd-test-flow.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "f59a7a78-1f1a-3fd6-a80e-09ca82788664" : {
          "identifier" : "f59a7a78-1f1a-3fd6-a80e-09ca82788664",
          "name" : "Default NiFi SSL Context Service"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "8d4e7379-ca19-38cc-abcc-f13938c10765",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "6fb04a80-ecff-3633-b103-ec520e5c9c1b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "d059d8dd-6c24-3ad5-9b54-7c8564695569",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "9280ccda-fcff-31fb-89ba-d6d6091454fa",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "54aa3d5d-272b-3dbb-8a28-dd4c469b4712",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "c0f3472b-878b-3d5b-9883-4adc00614542",
            "name" : "PublishKafkaRecord_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "9280ccda-fcff-31fb-89ba-d6d6091454fa",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "0f4d2403-ed3f-345a-a45d-4890a1debe32",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "e6527f19-f984-3256-a4d4-39a2130c3a8e",
            "name" : "ConsumeKafkaRecord_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "64e44ef3-9949-3a80-8de3-a6ed25d0be64",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "5ea02ad7-d99e-3225-a6f7-c163b4542e46",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "parse.failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "e6527f19-f984-3256-a4d4-39a2130c3a8e",
            "name" : "ConsumeKafkaRecord_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "64e44ef3-9949-3a80-8de3-a6ed25d0be64",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "f591816d-6d5c-3dc2-b314-23844edf55eb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "c0f3472b-878b-3d5b-9883-4adc00614542",
            "name" : "PublishKafkaRecord_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "c0f3472b-878b-3d5b-9883-4adc00614542",
            "name" : "PublishKafkaRecord_2_6",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "5c92cb8b-9ac6-3f3a-9b4c-3d85faea22de",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
            "id" : "8d4e7379-ca19-38cc-abcc-f13938c10765",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2.2.2.3.3-2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2.2.2.3.3-2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "d8b0e35d-586f-3f09-8e1d-f1f105bda4e5",
          "name" : "CSVRecordSetWriter",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "no-schema",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2.2.2.3.3-2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2.2.2.3.3-2"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "d0bb74e4-40b0-3788-afc4-0cb19ca4c91e",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "infer-schema",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.csv.CSVReader"
        } ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "64e44ef3-9949-3a80-8de3-a6ed25d0be64",
          "position" : {
            "x" : 1327.9999694824219,
            "y" : 589.0000114440918
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "9280ccda-fcff-31fb-89ba-d6d6091454fa",
          "position" : {
            "x" : 1325.9999694824219,
            "y" : 209.0000114440918
          }
        } ],
        "identifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "CI_CD_test",
        "outputPorts" : [ ],
        "parameterContextName" : "cicd_param",
        "position" : {
          "x" : 439.99999432021446,
          "y" : 293.99999784189845
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2.2.2.3.3-2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "8d4e7379-ca19-38cc-abcc-f13938c10765",
          "name" : "MergeRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 640.0,
            "y" : 616.0
          },
          "properties" : {
            "Attribute Strategy" : "Keep Only Common Attributes",
            "min-records" : "50",
            "record-writer" : "d8b0e35d-586f-3f09-8e1d-f1f105bda4e5",
            "merge-strategy" : "Bin-Packing Algorithm",
            "record-reader" : "d0bb74e4-40b0-3788-afc4-0cb19ca4c91e",
            "max-records" : "250",
            "min-bin-size" : "0 B",
            "max.bin.count" : "10"
          },
          "propertyDescriptors" : {
            "max-bin-age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "max-bin-age",
              "sensitive" : false
            },
            "correlation-attribute-name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "correlation-attribute-name",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "min-records" : {
              "displayName" : "Minimum Number of Records",
              "identifiesControllerService" : false,
              "name" : "min-records",
              "sensitive" : false
            },
            "max-bin-size" : {
              "displayName" : "Maximum Bin Size",
              "identifiesControllerService" : false,
              "name" : "max-bin-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "merge-strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "merge-strategy",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "max-records" : {
              "displayName" : "Maximum Number of Records",
              "identifiesControllerService" : false,
              "name" : "max-records",
              "sensitive" : false
            },
            "min-bin-size" : {
              "displayName" : "Minimum Bin Size",
              "identifiesControllerService" : false,
              "name" : "min-bin-size",
              "sensitive" : false
            },
            "max.bin.count" : {
              "displayName" : "Maximum Number of Bins",
              "identifiesControllerService" : false,
              "name" : "max.bin.count",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2.2.2.3.3-2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "e6527f19-f984-3256-a4d4-39a2130c3a8e",
          "name" : "ConsumeKafkaRecord_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1560.0,
            "y" : 344.0
          },
          "properties" : {
            "record-writer" : "d8b0e35d-586f-3f09-8e1d-f1f105bda4e5",
            "group.id" : "g_cicd",
            "bootstrap.servers" : "#{brokers}",
            "topic_type" : "names",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "PLAIN",
            "honor-transactions" : "false",
            "record-reader" : "d0bb74e4-40b0-3788-afc4-0cb19ca4c91e",
            "message-header-encoding" : "UTF-8",
            "sasl.username" : "#{cicd_user}",
            "max.poll.records" : "10000",
            "security.protocol" : "SASL_SSL",
            "ssl.context.service" : "f59a7a78-1f1a-3fd6-a80e-09ca82788664",
            "sasl.token.auth" : "false",
            "Communications Timeout" : "60 secs",
            "topic" : "#{topic}",
            "separate-by-key" : "false",
            "sasl.password" : "#{cicd_pw}",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "latest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2.2.2.3.3-2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "d059d8dd-6c24-3ad5-9b54-7c8564695569",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 408.0,
            "y" : 328.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "id,name,age\n1,daniele,26",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2.2.2.3.3-2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "6bdb1771-5333-3ffa-b2d1-572d14c16118",
          "identifier" : "c0f3472b-878b-3d5b-9883-4adc00614542",
          "name" : "PublishKafkaRecord_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 880.0,
            "y" : 336.0
          },
          "properties" : {
            "compression.type" : "none",
            "record-writer" : "d8b0e35d-586f-3f09-8e1d-f1f105bda4e5",
            "bootstrap.servers" : "#{brokers}",
            "sasl.mechanism" : "PLAIN",
            "max.block.ms" : "5 sec",
            "record-reader" : "d0bb74e4-40b0-3788-afc4-0cb19ca4c91e",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "sasl.username" : "#{cicd_user}",
            "use-transactions" : "false",
            "acks" : "1",
            "security.protocol" : "SASL_SSL",
            "ssl.context.service" : "f59a7a78-1f1a-3fd6-a80e-09ca82788664",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "#{topic}",
            "sasl.password" : "#{cicd_pw}"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "message-key-field" : {
              "displayName" : "Message Key Field",
              "identifiesControllerService" : false,
              "name" : "message-key-field",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "cicd_param" : {
          "name" : "cicd_param",
          "parameters" : [ {
            "description" : "",
            "name" : "brokers",
            "sensitive" : false,
            "value" : "dataflow-kafka-dev-dub-corebroker0.lgim-dev.k9sz-n8au.cloudera.site:9093,dataflow-kafka-dev-dub-corebroker1.lgim-dev.k9sz-n8au.cloudera.site:9093,dataflow-kafka-dev-dub-corebroker2.lgim-dev.k9sz-n8au.cloudera.site:9093"
          }, {
            "description" : "",
            "name" : "cicd_user",
            "sensitive" : false,
            "value" : "srv_ci-cd-user"
          }, {
            "description" : "",
            "name" : "topic",
            "sensitive" : false,
            "value" : "cicd_test"
          }, {
            "description" : "",
            "name" : "cicd_pw",
            "sensitive" : true
          } ]
        }
      }
    }
  }
}